// 非表示
.d-hidden {
  display: none !important;
}

// 初期設定
html {
  font-family: 'Noto Sans JP', sans-serif;
}
body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  min-width: 1000px;
  position: relative;
  overflow: hidden;
}
img {
  pointer-events: none;
}
li {
  list-style: none;
}
main *,
main *::after,
main *::before {
  position: absolute;
}
.ui-wrap {
  inset: 0;
}

// z-index を設定
.filter {
  &::before {
    z-index: $z-allFilter;
  }
  &::after {
    z-index: $z-filter;
  }
}
.ui-alert {
  z-index: $z-uiAlert;
}
.ui-window {
  z-index: $z-uiWindow;
}
.ui-window-background {
  z-index: $z-uiWindowBackground;
}
.ui-button {
  z-index: $z-uiButton;
}
.island-stone {
  z-index: $z-islandStone;
}
.character-dress {
  z-index: $z-characterDress;
}
.character {
  z-index: $z-character;
}
.island-object {
  z-index: $z-islandObject;
}
.island {
  z-index: $z-island;
}
.ocean-object {
  z-index: $z-oceanObject;
}
.ocean {
  z-index: $z-ocean;
}
.background-object {
  z-index: $z-backgroundObject;
}
.cloud {
  z-index: $z-cloud;
}
.stars {
  z-index: $z-stars;
}
.background {
  z-index: $z-background;
}
