.background-wrap {
  height: 100%;
  width: 100%;
}
.background {
  height: 100%;
  width: 100%;
}
.ocean {
  width: 100vw;
  min-width: 100%;
  height: 100%;
  margin-top: 451px;
  left: 50%;
  transform: translateX(-50%);
}
.filter {
  inset: 0;
  &::before,
  &::after {
    content: '';
    display: block;
    inset: 0;
    pointer-events: none;
  }
  &::before {
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: color-dodge;
  }
  &::after {
    mix-blend-mode: color-burn;
  }
}

.morning {
  .background {
    background: linear-gradient(180deg, #a7d5dc 0%, #fcf4dd 100%);
  }
  .ocean {
    background: linear-gradient(180deg, #acffe1 0%, #53beec 100%);
  }
  .filter::after {
    background: rgba(255, 238, 87, 0.35);
  }
}
.daytime {
  .background {
    background: linear-gradient(180deg, #8ad3e0 0%, #c1f5ee 100%);
  }
  .ocean {
    background: linear-gradient(180deg, #8ee3f5 0%, #4492da 100%);
  }
  .filter::after {
    background: rgba(133, 165, 43, 0.35);
  }
}
.evening {
  .background {
    background: linear-gradient(180deg, #e76fa9 0%, #ffdbdc 100%);
  }
  .ocean {
    background: linear-gradient(180deg, #ffcfac 0%, #ff91b8 100%);
  }
  .filter::after {
    background: rgba(251, 19, 19, 0.35);
  }
}
.night {
  .background {
    background: linear-gradient(180deg, #246579 0%, #314486 100%);
  }
  .ocean {
    background: linear-gradient(180deg, #5eacc5 0%, #9483ff 100%);
  }
  .filter::after {
    background: rgba(19, 28, 251, 0.35);
  }
}
