.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  filter: $drop-shadow;
  background-color: $c-white;
  transition: filter 0.2s;
  &:hover {
    filter: $drop-shadow $brightness;
  }
}

.ui-button {
  &__tweet-button {
    width: 86px;
    height: 86px;
  }
  &__item-button {
    position: initial;
    width: 54px;
    height: 54px;
  }
  &__open-message-button {
    display: block;
    height: 120px;
    width: 460px;
    top: 67.5%;
    left: 50%;
    transform: translateX(-52%);
  }
}
