$z-background: 100;
$z-stars: 200;
$z-cloud: 300;
$z-backgroundObject: 400;
$z-ocean: 500;
$z-oceanObject: 600;
$z-island: 700;
$z-islandObject: 800;
$z-character: 900;
$z-characterDress: 1000;
$z-islandStone: 1100;
$z-allFilter: 5000;
$z-filter: 5001;
$z-uiButton: 10000;
$z-uiWindowBackground: 10100;
$z-uiWindow: 10200;
$z-uiAlert: 10300;
