$z-background: 100;
$z-stars: 200;
$z-cloud: 300;
$z-backgroundObject: 400;
$z-ocean: 500;
$z-oceanObject: 600;
$z-island: 700;
$z-islandObject: 800;
$z-character: 900;
$z-characterDress: 1000;
$z-islandStone: 1100;
$z-uiButton: 1200;
$z-uiWindowBackground: 1300;
$z-uiWindow: 1400;
$z-uiAlert: 1500;
